*{margin: 0;
padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
header{
background-color: rgb(215,1,1);
padding:10px;
text-align: center;
position: fixed;
width:100%;
z-index: 1;
}
header h1{
    color: white;
    border:solid white;
    border-radius: 20px;
    display:inline-block;
    padding: 5px;
    font-size:25px;
}
.banner{position: relative;}
.banner img{
    max-width: 100%;
}
.intro{color: red;
padding: 0;
font-size: 30px;}
.banner .welcome{
    background-color:rgb(250,179,2) ;
    font-size:x-large;
    position: relative;
    
    color:white;
top:50%;
position: absolute;#
border-radius: 50%;}

.main-nav{
    background-color: #f4f4f4;
    padding:10px;
    position: sticky;
    z-index: 1;
    top: 100px;

}
.main-nav ul{
    text-align:left;
    justify-content:space-around;
}
.main-nav li{
    display: inline-block;
    font-size: 20px;
    width: 23%;

}
.main-nav li a{
    text-decoration: none;
    color:#4b4b4b;
    
}
.main-nav li a:hover{text-decoration: underline;}
.main-nav .join{
    color: red;}

    
  
 .images li{display: inline-block;
    flex-wrap: wrap;
    list-style-type: none;
    position: relative;
    margin: 50px;

    width:40%;}
.main{max-width: 100%;
font-size: 20px;
margin-left: 20px;}
    article{
        color:#4b4b4b;
        line-height: 2rem;}
    article p::first-line{
        font-weight: bold;
    }
.images li:hover{top:-10px;}
section.join{
    background-color:#f4f4f4;
    text-align: center;
    color:#4b4b4b;
}
form input{
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    border: 3px solid white;
}
footer{
    background-color: #fe232e;
    color:white;
    text-align: center;
    padding: 10px;
}
@media screen {max-width: 750px;
    font-size: 28px;
    
}
.banner.welcome{
    text-align: center;
    font-size: 20px;
}
.images li{
    width: 100%;
    display: block;
}
article h2{font-size: ;}